@import url(https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan);
*{
    font-family: "JejuHallasan";
}
header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
header img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.btn{
    border: 1px solid #AB21AB;
    border-radius: 25PX;
    padding: 2px;
    width: 150px;
    height: 25px;
    text-align: center;
    color:#AB21AB;
    cursor: pointer;
}
.pervy_bk{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.pics{
    display: flex;
    flex-direction:column;
    width:33%;
    justify-content: center;
    
}
.pics p{
    height: 35px;
}
    .pics img{
        width: 75%;
        margin: 0 auto;
        margin-bottom: 5px;
        width: 193px;
        height: 193px;
    }
    .pics .btn{
        margin: 0 auto;
        border-radius: 10px;
        color: white;
        border-color: white;

    }
.names{
    text-align: center;
    font-size: 20px;
}
.vtoroy_bk{
    background-color: #AB21AB;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.write_me{
    display: flex;
    flex-direction: row;
    background-color:#7b007b;
}
.write_me .padval{
    padding-top: 10px;     
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 10px;
}
.model{
    top: 0px;
    left: 0px;
    display: none;
    position: absolute; 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.form{  
    width: 25%;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);    
    display: flex;      
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.overlay{
    top: 0px;
    left: 0px;
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    z-index: 0;
    background-color:rgba(0,0,0,0.7) ;
}
.message{
    border-radius: 10px;
    height: 35px;
    width: 175px;
}
.nsl{
    border-radius: 10px;
    height: 35px;
    width: 175px;
}
.email{
    border-radius: 10px;
    height: 35px;
    width: 175px;
}
.number{
    border-radius: 10px;
    height: 35px;
    width: 175px;
}